* html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 15px;
}

.post-image {
  width: 13em;
  height: 13em;
}

.post-list {
  list-style: none;
}